@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

/* Font faces */
@font-face {
  font-family: "BungeeInline";
  src: url("/fonts/BungeeInline-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BungeeHairline";
  src: url("/fonts/BungeeHairline-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root:not([data-theme="light"]) .expressive-code .frame pre {
  background: var(--expressive-code-frame-pre-bg) !important;
}

main .content-panel {
  padding-block-end: 0 !important;
}

html {
  --sl-nav-height: 4rem;
  --sl-icon-color: black;
}

:root:not([data-theme="light"]) {
  --sl-icon-color: white;
}

@theme {
  /*
	Configure your Tailwind theme that will be used by Starlight.
	https://starlight.astro.build/guides/css-and-tailwind/#styling-starlight-with-tailwind
	*/
}

/*
Add additional Tailwind styles to this file:
https://tailwindcss.com/docs/adding-custom-styles#using-custom-css
*/

.site-title {
  font-family: "Geist", sans-serif;
}
