@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

/* Font faces */
@font-face {
  font-family: "BungeeInline";
  src: url("/fonts/BungeeInline-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BungeeHairline";
  src: url("/fonts/BungeeHairline-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #451a03;
  --sl-color-accent: #f59e0b;
  --sl-color-accent-high: #f59e0b;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #f0fdfa;
  --sl-color-gray-2: #ccfbf1;
  --sl-color-gray-3: #99f6e4;
  --sl-color-gray-4: #5eead4;
  --sl-color-gray-5: #2dd4bf;
  --sl-color-gray-6: #0f766e;
  --sl-color-black: #0d1f1f;
  --sl-color-bg-nav: #0b4f4a;
  --sl-color-bg-sidebar: #0b4f4a;
  --sl-color-bg-inline-code: #0b4f4a;
  --sl-color-hairline: #0d1f1e;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #fef3c7;
  --sl-color-accent: #d97706;
  --sl-color-accent-high: #451a03;
  --sl-color-white: #0d1f1f;
  --sl-color-gray-1: #134e4a;
  --sl-color-gray-2: #0f766e;
  --sl-color-gray-3: #0d9488;
  --sl-color-gray-4: #14b8a6;
  --sl-color-gray-5: #5eead4;
  --sl-color-gray-6: #ccfbf1;
  --sl-color-gray-7: #f0fdfa;
  --sl-color-black: #ffffff;
  --code-background: red;
}

.expressive-code .frame pre {
  background: #01302f !important;
}

main .content-panel {
  padding-block-end: 0 !important;
}

@theme {
  /*
	Configure your Tailwind theme that will be used by Starlight.
	https://starlight.astro.build/guides/css-and-tailwind/#styling-starlight-with-tailwind
	*/
}

/*
Add additional Tailwind styles to this file:
https://tailwindcss.com/docs/adding-custom-styles#using-custom-css
*/

.site-title {
  font-family: "BungeeInline", sans-serif;
}
