
<h1 id="_top">{Astro.locals.starlightRoute.entry.data.title}</h1>

<aside class="bg-yellow-100 text-yellow-800 p-4 rounded-lg border border-yellow-300 text-sm mb-4">
    A new version of the tutorial will be released on <b>November 20th, 2025</b>.
    The content will be updated to cover the latest changes in Angular v21.

    Either wait for the updated version or finish the tutorial as is.
</aside>

<style>
	@layer starlight.core {
		h1 {
			margin-top: 1rem;
			font-size: var(--sl-text-h1);
			line-height: var(--sl-line-height-headings);
			font-weight: 600;
			color: var(--sl-color-white);
		}
	}
</style>