---
import Search from "@astrojs/starlight/components/Search.astro";
import SocialIcons from "@astrojs/starlight/components/SocialIcons.astro";
import ThemeSelect from "@astrojs/starlight/components/ThemeSelect.astro";
---

<nav class="flex items-center justify-between">
<h1 class="font-[Geist] text-xl flex items-center">
     <span class="hidden md:block">tutorials.</span>
    <span class="text-[#02BCFF]">angular.</span>
    <span class="hidden md:block">courses</span>
</h1>
<Search />
<div class="flex items-center gap-6">
    <div class="flex items-center gap-4">
    <SocialIcons />
    </div>
    <hr class="h-4 w-px bg-gray-400 dark:bg-gray-500" />
    <ThemeSelect />
</div>
</nav>