---
import Search from "@astrojs/starlight/components/Search.astro";
import SocialIcons from "@astrojs/starlight/components/SocialIcons.astro";
import ThemeSelect from "@astrojs/starlight/components/ThemeSelect.astro";
---

<nav class="flex items-center justify-between">
  <a class="no-underline hover:underline text-inherit" href="/">
<h1 class="font-[Geist] text-base lg:text-xl flex items-center">
     <span>tutorials.</span>
    <span class="text-[#02BCFF]">angular.</span>
    <span>courses</span>
</h1>
</a>
<Search />
<div class="flex items-center gap-6">
    <div class="flex items-center gap-4">
    <SocialIcons />
    </div>
    <hr class="hidden md:block h-4 w-px bg-gray-400 dark:bg-gray-500" />
    <div class="hidden md:block">
      <ThemeSelect />
    </div>
  </div>
</nav>